{erl_opts, [debug_info]}.
{deps, [{epgsql, "4.7.1"}]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [server]}
]}.

{dist_node, [
    {setcookie, 'lyceum'},
    {sname, 'lyceum_server'}
]}.

{relx, [{release, {server, "0.0.1"},
         [server]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.

{profiles, [
    {prod, [{relx, [{dev_mode, false},
                    {include_erts, true}]}
     ]}
]}.

{plugins, [
    { rebar3_nix, ".*", {git, "https://github.com/erlang-nix/rebar3_nix.git", {tag, "v0.1.1"}}}
]}.
