[
  {world_settings, [
    {is_shell, true}
  ]},
  {kernel, [
    {logger_level, info},
    {logger, [
      {handler, default, logger_std_h, #{
        level => info,
        config => #{
          type => standard_io
        },
        formatter => {logger_formatter, #{
          single_line => false,
          template => [
            "{\"timestamp\":\"", time, "\",",
            "\"level\":\"", level, "\",",
            "\"pid\":\"", pid, "\",",
            "\"mfa\":\"", mfa, "\",",
            "\"line\":", line, ",",
            "\"msg\":", msg, "}\n"
          ]
        }}
      }}
    ]}
  ]}
].
