[
  {lib_database, [
      {is_shell, true}
  ]},
  {kernel, [
      {logger_level, debug},
      {logger, [
          {handler, default, logger_std_h, #{
              level => debug,
              config => #{
                  type => standard_io
              },
              formatter => {logger_formatter, #{
                  legacy_header => false,
                  single_line => false,
                  max_size => unlimited,
                  depth => unlimited,
                  chars_limit => unlimited,
                  template => [time, " ", color_start, "[", level, "]", color_end, " ", 
                             {mfa, [mfa, ":", line], ""}, " ", msg, "\n"],
                  time_designator => $T,
                  time_offset => "Z"
              }}
          }}
      ]}
  ]},
  {sasl, [
      {sasl_error_logger, {file, "log/sasl.log"}},
      {errlog_type, error},
      {error_logger_mf_dir, "log"},
      {error_logger_mf_maxbytes, 10485760},
      {error_logger_mf_maxfiles, 5}
  ]}
].
