{erl_opts, [debug_info]}.

{dist_node, [
    {setcookie, 'lyceum'},
    {sname, 'lyceum_server'}
]}.

{deps, [
    {epgsql, "4.7.1"},
    {pc, "1.15.0"},
    {csv, "3.0.3", {pkg, csve}}
]}.

{shell, [
    {sys_config, "config/sys.config"},
    {apps, [server]}
]}.

{relx, [
    {release, {server, "0.1.0"}, [
        {database, permanent},
        server,
        sasl
    ]},

    {mode, dev},
    {include_erts, false},
    {extended_start_script, true},

    %% automatically picked up if the files
    %% exist but can be set manually, which
    %% is required if the names aren't exactly
    %% sys.config and vm.args
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    %% the .src form of the configuration files do
    %% not require setting RELX_REPLACE_OS_VARS
    %% {sys_config_src, "./config/sys.config.src"},
    %% {vm_args_src, "./config/vm.args.src"}

    {overlay, [
        {mkdir, "log/sasl"},
        {copy, "database/*", "\{\{output_dir\}\}/database/"}
    ]}
]}.

{profiles, [
    %% prod is the default mode when prod
    %% profile is used, so does not have
    %% to be explicitly included like this
    {prod, [
        {relx, [
            %% use minimal mode to exclude ERTS
            %% {mode, minimal}
            {mode, prod},
            {include_src, false},
            {include_erts, true},
            {debug_info, strip}
        ]}
    ]}
]}.

%% == Directories ==
{project_app_dirs, ["apps/*", "lib/*", "scripts/*", "." ]}.

%% == Escript ==
{escript_incl_apps, [database, epgsql, csv, map_generator]}.
{escript_main_app, map_generator}.
{escript_name, map_generator}.
%{escript_emu_args, "%%! +S1 -boot start_clean -noshell -pa . -pa ebin\n"}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% == Plugins ==
{plugins, [
    { rebar3_nix, ".*", {git, "https://github.com/erlang-nix/rebar3_nix.git", {tag, "v0.1.1"}}}
]}.
